<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <input type="text" name="user" id="user">
    <button type="submit" id="emit">Submit User</button>
    <form action="/send-messages" method="post">
        <% console.log("Client " + uuid) %>
        <input type="text" name="user_id" id="user_id" value="<%= uuid %>" hidden>
        <input type="text" name="content" id="content">
        <button type="submit">Send message</button>
    </form>
    
    <script src="http://wzrd.in/standalone/uuid%2Fv1@latest"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect("http://localhost:3000")
        let user = document.getElementById("user")
        let content = document.getElementById("content")
        let emit = document.getElementById("emit")
        let send = document.getElementById("send")
        
        emit.onclick = () => {
            socket.emit("user", {
                user_id: document.getElementById("user_id").value,
            })
        }

        socket.on("message", (data) => {
            console.log(data.msg)
        })
    </script>
</body>
</html>